django
anyjson
git+https://github.com/zxh326/django-simple-serializer.git
image
Pillow
PyJWT
django-celery
celery-with-redis
git+https://github.com/zxh326/django-simditor.git
djangorestframework
django-filter
django-cors-headers