django
anyjson
git+https://github.com/zxh326/django-simple-serializer.git
image
requests
Pillow
PyJWT
django-celery
celery-with-redis
git+https://github.com/zxh326/django-simditor.git
djangorestframework
django-filter==1.1.0
django-cors-headers
